{% extends "calc/base.html" %}
  {% block content %}
  {{ msg }}
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-inline row">
      <div class="form-group col-xs-4">
        <label for="media">Media</label>
        <select id="media" name="media" class="form-control" onchange="get_rate();">
          {% for media in media_type %}
          <option value="{{ media }}">{{ media }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-xs-4">
        <label for="customer">Customer</label>
        <select id="customer" name="customer" class="form-control" onchange="get_rate();">
          {% for customer in customers %}
          <option value="{{ customer }}">{{ customer }}</option>
          {% endfor %}
        </select>
        <div class="form-group col-xs-4">
          <label for="media">Rate</label>
          <p id="rate"></p>
      </div>
      </div>
    </div>
    <div id="fieldList">
      <div class="form-inline row">
        <div class="form-group col-xs-4">
          <label for="width">Width</label>
          <input class="form-control width" type="number" name="width" id="width" min="0" step="0.01" placeholder="Enter page width" required />
        </div>
        <div class="form-group col-xs-4">
          <label for="height">height</label>
          <input class="form-control height" type="number" name="height" id="height" min="0" step="0.01" placeholder="Enter page height" required/>
        </div>
        <div class="form-group col-xs-4">
          <label for="total_print">Total Print</label>
          <input id="total_print" class="form-control total_print" type="number" name="total_print" step="1"  min="1" required/>
        </div>
      </div>
    </div>
    <input type="button" id='addMore' class='btn btn-primary' value="Add more fields"></input>
    <br>
    <br>
    <button class="pull-left btn btn-primary" type="submit" name="submit">Get Amount</button>
  </form>
  <br>
  <p id='widths'></p><br>
  <p id='heights'></p><br>
  <p id='prints'></p>
  {% endblock %}

  {% block customjs %}

  <script type="text/javascript">
    $(function() {
      $("#addMore").click(function(e) {
        e.preventDefault();
        $("#fieldList").append('<div class="form-inline row"><div class="form-group col-xs-4"><label for="width">Width</label><input class="form-control width" type="number" name="width" id="width" min="0" step="0.01" placeholder="Enter page width" required/></div><div class="form-group col-xs-4"><label for="height">height</label><input class="form-control height" type="number" name="height" id="height" min="0" step="0.01" placeholder="Enter page height" required/></div><div class="form-group col-xs-4"><label for="total_print">Total Print</label><input class="form-control total_print" type="number" name="total_print" min="1" step="1" required/></div></div>');
      });
    }); 

    function get_rate() {
      var media = document.getElementById("media").value,
          customer = document.getElementById("customer").value,
          width = document.getElementById("width").value,
          height = document.getElementById("height").value,
          total_print = document.getElementById("total_print").value;

      var widths = document.getElementsByClassName('width'),
          heights = document.getElementsByClassName('height'),
          total_prints = document.getElementsByClassName('total_print');
     
      var width_list  = [].map.call(widths, function( width ) {
              return width.value;
          }).join( ',' );
      
      var height_list  = [].map.call(heights, function( height ) {
              return height.value;
          }).join( ',' );
      
      var total_print_list  = [].map.call(total_prints, function( total_print ) {
              return total_print.value;
          }).join( ',' );

     
      // Loop through comma separated numbers
      var width_array = width_list.split(','),
          height_array = height_list.split(','),
          print_array = total_print_list.split(',');
          
     
      function multiply_array(array) {
        var total = 1.0;
        for (var i = 0; i < array.length; i++) {
          total *= parseFloat(array[i]);
        }
        return total;
      }

      var total_width = multiply_array(width_array),
          total_height = multiply_array(height_array),
          total_print = multiply_array(print_array);
    
      // Check total values of width, height, and prints
      /*
      document.getElementById('widths').innerHTML = total_width;
      document.getElementById('heights').innerHTML = total_height;
      document.getElementById('prints').innerHTML = total_print;
      */
      var total_sqr_feet = total_width.toFixed(3) * total_height.toFixed(3) * total_print.toFixed(3),
          url = 'http://localhost:8000/calc/ajax_rate/?media='+
                  media+'&customer='+customer+'&square_feet='+
                  total_sqr_feet;
      
      getAjax(url, function(data) {
        document.getElementById("rate").innerHTML = data;
      });
      document.getElementById('prints').innerHTML = total_sqr_feet;
    }

    function getAjax(url, success) {
      var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
      xhr.open("GET", url);
      xhr.onreadystatechange = function () {
        if (xhr.readyState > 3 && xhr.status == 200) success(xhr.responseText);
      };
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.send();
      return xhr;
    }
    
  </script>
  {% endblock customjs %}
